/**************************
********* Colors **********
**************************/
/**************************
********* Navbar **********
**************************/
.link-wrapper {
  background: #474b4f;
  position: absolute;
  top: 53px;
  height: 0;
  width: 100%;
  overflow: hidden;
  transition: height 0.5s ease;
}
.link-wrapper a:first-child {
  padding-top: 24px;
}

.nav-link {
  color: #e0e0e0;
  text-decoration: none;
  display: block;
  padding: 12px 20px;
  text-transform: uppercase;
  transition: color 0.5s ease;
}
.nav-link:hover {
  color: #86c232;
}

.visible {
  height: 220px;
}

.active {
  color: #86c232;
}

.nav-toggle {
  color: #e0e0e0;
  position: absolute;
  right: 5vw;
  margin-top: 5px;
  font-size: 40px;
}

@media (min-width: 576px) {
  .link-wrapper {
    position: initial;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: transparent;
    height: 50px;
    width: 100%;
    max-width: 1200px;
  }
  .link-wrapper a:first-child {
    padding-top: 12px;
  }

  .nav-link {
    display: inline;
    font-family: "Libre Franklin", sans-serif;
  }

  .nav-toggle {
    display: none;
  }
}
/**************************
********* Banner **********
**************************/
.banner {
  height: 100vh;
  background-image: linear-gradient(to bottom, #222629, rgba(34, 38, 41, 0.85)), url("../img/background/van-at-night.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-text {
  color: #e0e0e0;
  text-align: center;
  font-family: "Libre Franklin", sans-serif;
}
.banner-text h1 {
  font-size: 48px;
}

.banner-buttons {
  display: flex;
  height: 150px;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: "Libre Franklin", sans-serif;
}
.banner-buttons a {
  margin-left: 10px;
  margin-right: 10px;
}

@media (min-width: 576px) {
  .banner-buttons {
    flex-direction: row;
    height: auto;
  }
}
/**************************
********* Details *********
**************************/
.details-wrapper {
  margin: 100px 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1200px;
  gap: 15px;
}

.detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex-basis: 50%;
  max-width: 200px;
  height: 250px;
}
.detail h3 {
  font-size: 18px;
}
.detail p {
  font-size: 14px;
}

.detail-icon {
  width: 100% !important;
  height: auto;
  max-height: 50px;
}

@media (min-width: 768px) {
  .detail {
    flex-basis: 20%;
  }
}
@media (min-width: 1200px) {
  .details-wrapper {
    margin: 100px auto;
  }
}
/**************************
********* About ***********
**************************/
.bio-wrapper {
  margin: 103px auto;
  width: 90%;
  max-width: 500px;
  padding: 10px;
  border-radius: 60px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}
.bio-wrapper img {
  padding-bottom: 25px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom: 1px solid #6b6e70;
}

.bio-title {
  font-family: "Libre Franklin", sans-serif;
}

/**************************
******** Projects *********
**************************/
.projects-wrapper {
  display: flex;
  flex-direction: column;
  margin: 103px 15px 15px 50px;
  max-width: 1200px;
}

.card-wrapper {
  margin-bottom: 50px;
  border-radius: 20px;
  background: #e0e0e0;
  padding: 15px;
  position: relative;
  box-shadow: 13px 13px 26px #bebebe, -13px -13px 26px #ffffff;
}

@media (min-width: 576px) {
  .projects-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 15px;
  }
}
@media (min-width: 768px) {
  .projects-wrapper {
    margin: 103px auto;
  }

  .card-wrapper {
    flex-basis: 300px;
  }
}
@media (min-width: 928px) {
  .card-wrapper {
    flex-basis: 350px;
  }
}
/**************************
********* Footer **********
**************************/
.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}

.footer-name {
  margin-top: 20px;
}

.copyright {
  color: #61892f;
}

/**************************
****** Base Elements ******
**************************/
body {
  background-color: #e0e0e0;
  margin: 0;
  font-size: 1.25em;
  font-family: "Libre Baskerville", serif;
}

nav {
  position: fixed;
  top: 0;
  background-color: #222629;
  border-bottom: 3px solid #86c232;
  width: 100%;
  height: 50px;
  z-index: 1000;
}

footer {
  background-color: #222629;
  padding: 50px 0;
  text-align: center;
}

img {
  width: 100%;
}

/**************************
********* Inputs **********
**************************/
.button {
  text-decoration: none;
  padding: 10px 20px;
  min-width: 125px;
  border: 2px solid #61892f;
  font-size: 1em;
  text-align: center;
  color: #e0e0e0;
  border-radius: 20px;
  background-color: #61892f;
  transition: background-color 0.5s ease, border-color 0.5s ease, color 0.5s ease;
}
.button:hover {
  background-color: #86c232;
  border-color: #222629;
  color: #222629;
}

/**************************
********** Icons **********
**************************/
.icon {
  color: #61892f;
  width: 100px;
  margin: 0 auto;
}

.icon-footer {
  width: 50px;
}

/*# sourceMappingURL=app.css.map */
