/**************************
********* Colors **********
**************************/

$Base: #e0e0e0;
$Primary: #222629;
$Primary-Light: #474b4f;
$Primary-Extra-Light: #6b6e70;
$Accent: #86c232;
$Accent-Dark: #61892f;
$Highlight: #C23F1F;
$Hightlight-Dark: #752B19;