/**************************
****** Base Elements ******
**************************/
* {
  box-sizing: border-box;
}
body {
  background-color: $Base;
  margin: 0;
  font-size: 1.25em;
  font-family: 'Libre Baskerville', serif;
}
nav {
  position: fixed;
  top: 0;
  background-color: $Primary;
  border-bottom: 3px solid $Accent;
  width: 100%;
  height: 50px;
  z-index: 1000;
}
footer {
  background-color: $Primary;
  padding: 50px 0;
  text-align: center;
}
img {
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Libre Franklin', sans-serif;
}
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
@media(max-width: 576px) {
  body {
    font-size: 1em;
  }
}

/**************************
********* Inputs **********
**************************/
.button {
  text-decoration: none;
  padding: 10px 20px;
  min-width: 125px;
  border: 2px solid $Accent-Dark;
  font-size: 1em;
  text-align: center;
  color: $Base;
  border-radius: 20px;
  background-color: $Accent-Dark;
  transition: background-color .5s ease,
              border-color .5s ease,
              color .5s ease;
  &:hover {
    background-color: $Accent;
    border-color: $Primary;
    color: $Primary;
  }
}

/**************************
********** Icons **********
**************************/
.icon {
  color: $Accent-Dark;
  width: 100px;
  margin: 0 auto;
}