/**************************
****** Main-Content *******
**************************/
.main-content {
  flex-grow: 1;
}

/**************************
********* Navbar **********
**************************/
.link-wrapper {
  background: $Primary-Light;
  position: absolute;
  top: 50px;
  height: 0;
  width: 100%;
  overflow: hidden;
  transition: height 0.5s ease;
  & a:first-child {
    padding-top: 24px;
  }
}
.nav-link {
  color: $Base;
  text-decoration: none;
  display: block;
  padding: 12px 20px;
  text-transform: uppercase;
  transition: color .5s ease;
  &:hover {
    color: $Accent;
  }
}
.active {
  color: $Accent;
}
.nav-toggle {
  color: $Base;
  position: absolute;
  right: 5vw;
  margin-top: 5px;
  font-size: 40px;
}

@media(min-width: 576px) {
  .link-wrapper {
    position: initial;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: transparent;
    height: 50px;
    width: 100%;
    max-width: 1200px;
    & a:first-child {
      padding-top: 12px;
    }
  }
  .nav-link {
    display: inline;
    font-family: 'Libre Franklin', sans-serif;
  }
  .nav-toggle {
    display: none;
  }
}

/**************************
********* Banner **********
**************************/
.banner {
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(34, 38, 41, 1),
  rgba(34, 38, 41, .85)),
                    url("../img/background/van-at-night.jpeg"); //Taken by Paul Gifford; found on Wikimedia Commons under Creative Commons Attribution-Share Alike 3.0 Unported url (https://upload.wikimedia.org/wikipedia/commons/8/85/Robson_Street_at_night%2C_Vancouver%2C_BC%2C_Canada.JPG)
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner-text {
  color: $Base;
  text-align: center;
}
.banner-buttons {
  display: flex;
  height: 150px;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: 'Libre Franklin', sans-serif;
  a {
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media(min-width: 576px) {
  .banner-buttons {
    flex-direction: row;
    height: auto;
  }
}
@media(min-width: 1024px) {
  .banner-text {
    font-size: 2rem;
  }
}

/**************************
********* Details *********
**************************/
#details {
  background-color: #fff;
}
.details-wrapper {
  margin: 100px 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1200px;
  gap: 15px;
}
.detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex-basis: 45%;
  max-width: 200px;
  height: 250px;
  & h3 {
    font-size: 18px;
    margin-bottom: 0;
  }
  & p {
    font-size: 14px;
    min-height: 72px;
  }
}
.detail-icon {
  width: 100% !important;
  height: auto;
  max-height: 50px;
}
@media(min-width: 768px) {
  .detail {
    flex-basis: 20%;
  }
}
@media(min-width: 1200px) {
  .detail {
    & h3 {
      font-size: 1.25em;
    }
  }
  .details-wrapper {
    margin: 100px auto;
  }
}

/**************************
********* About ***********
**************************/

.bio-wrapper {
  margin: 103px auto 50px;
  width: 90%;
  max-width: 500px;
  padding: 10px;
  border-radius: 10px;
  background: #e0e0e0;
  box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
  img {
    padding-bottom: 25px;
    border-bottom: 1px solid $Primary-Extra-Light;
  }
}

/**************************
******** Projects *********
**************************/
.projects-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 15px 50px 15px;
  max-width: 1200px;
}
.card-wrapper {
  text-align: center;
  margin-bottom: 50px;
  border-radius: 20px;
  background: $Base;
  padding: 15px;
  position: relative;
  box-shadow:  13px 13px 26px #bebebe,
             -13px -13px 26px #ffffff;
}
.project-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $Base;
  z-index: 5000;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 15px;
  border: 5px solid $Primary;
  transition: opacity .5s ease;
  &:hover {
    opacity: 1;
  }
}
.project-img {
  z-index: 1000;
}
.project-button {
  margin: 0 auto 15px;
}
.project-title {
  margin-bottom: 0;
}
.projects-title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 53px;
  color: $Primary;
  padding-bottom: 10px;
  border-bottom: 5px solid $Primary;
  width: fit-content;
}
@media(min-width: 576px) {
  .projects-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 15px;
  }
}
@media(min-width: 768px) {
  .projects-wrapper {
    margin: 0 auto;
  }
  .card-wrapper {
    flex-basis: 300px;
  }
}
@media(min-width: 928px) {
  .card-wrapper {
    flex-basis: 350px;
  }
}

/**************************
******** Carousel *********
**************************/
#carousel {
  background-color: $Base;
  padding: 0 20px;
  text-align: center;
  margin-bottom: 50px;
}
.carousel-root {
  margin: 50px auto;
  max-width: 800px;
}
.dot {
  background: $Primary-Extra-Light !important;
}
.dot.selected {
  background: $Accent-Dark !important;
}
.control-arrow {
  background-color: $Accent-Dark !important;
  opacity: 1 !important;
  bottom: 0 !important;
  top: auto !important;
}
.carousel-status {
  transform: translateX(-40px);
  color: #fff !important;
  background: $Accent-Dark !important;
  border-radius: 5px;
  transform: translateX(0);
  margin-top: 0;
}
.carousel-title {
  color: $Primary;
  margin-top: 50px;
  margin-bottom: 0;
  padding-bottom: 10px;
  border-bottom: 5px solid $Primary;
  display: inline-block;
}
.carousel-card-title {
  color: $Base;
  background: $Primary !important;
  margin: 0 !important;
  padding: 10px 0;
}
.carousel-link {
  text-decoration: none;
  cursor: pointer;
}

/**************************
********* Footer **********
**************************/
.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}
.footer-name {
  margin-top: 20px;
  color: $Base;
}
.copyright {
  color: $Accent;
}
.icon-footer {
  width: 60%;
}
.footer-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: $Primary-Light;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/**************************
******** Contact **********
**************************/
.contact-wrapper {
  margin: 0 0 50px;
}
.form-wrapper {
  margin: 0 15px;
}
.contact-title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 53px;
  color: $Primary;
  padding-bottom: 10px;
  border-bottom: 5px solid $Primary;
  width: fit-content;
}
.contact-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 50px 15px;
  background-color: $Primary;
  border-radius: 5px;
  border: 2px solid $Accent-Dark;
  input {
    color: $Base;
    font-size: 1rem;
    margin-bottom: 5px;
    padding: 10px 10px;
    width: 100%;
    background-color: $Primary-Light;
    border: none;
    outline: none;
    &:focus {
      color: $Base;
    }
    &::placeholder {
      color: $Base;
    }
  }
  textarea {
    color: $Base;
    font-size: 1.25rem;
    padding: 10px 10px 150px 10px;
    width: 100%;
    background-color: $Primary-Light;
    border: none;
    outline: none;
    &:focus {
      color: $Base;
    }
    &::placeholder {
      color: $Base;
    }
  }
  .form-button {
    width: 100%;
  }
}

/**************************
****** Modal Popup ********
**************************/
.modal-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  z-index: 10000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color:rgba(34, 38, 41, .5);
}
.modal {
  font-size: .8rem;
  position: relative;
  background-color: $Base;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  text-align: center;
  border-radius: 10px;
  margin: 0 auto;
  max-width: 700px;
  height: 100vh;
  h2 {
    color: $Base;
    background-color: $Primary;
    margin: 0;
    padding: 40px 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  p {
    justify-self: center;
    color: $Primary-Light;
  }
}
.modal-details {
  margin: 0 15px;
  border-bottom: 2px solid $Primary-Extra-Light;
  h3 {
    color: $Primary;
  }
  p {
    padding-bottom: 23.4px;
    border-bottom: 2px solid $Primary-Extra-Light;
  }
}
.modal-tech {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  text-align: left;
  list-style-position: inside;
  max-width: 350px;
  margin: 0 auto;
  max-height: 100px;
  margin-bottom: 13.4px;
  li {
    flex-basis: 50%;
    color: $Primary-Light;
    margin-bottom: 10px;
  }
}
.modal-img {
  width: 70%;
  margin-top: 23.4px;
}
.modal-left-arrow {
  z-index: 5000;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40px;
  background-color: $Accent-Dark;
  border-bottom-left-radius: 10px;
}
.modal-right-arrow {
  z-index: 5000;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 40px;
  background-color: $Accent-Dark;
  border-bottom-right-radius: 10px;
}
.arrow-icon {
  color: $Base;
  width: 80% !important;
  height: auto;
  cursor: pointer;
}
.modal-close {
  position: absolute;
  top: 5px;
  right: 5px;
  color: $Base;
  width: 30px;
}
.modal-close-icon {
  width: 100% !important;
  height: auto;
  cursor: pointer;
}
.modal-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  margin: auto;
  gap: 10px;
  max-width: 200px;
}
@media(min-width: 576px) {
  .modal {
    height: 800px;
    font-size: inherit;
  }
  .modal-buttons {
    flex-direction: row;
    max-width: 300px;
  }
}
@media(min-width: 700px) {
  .modal {
    width: 700px;
  }
}